absl-py==2.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aiosignal==1.3.2
alembic==1.16.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
beautifulsoup4==4.13.4
bitarray==3.4.2
bleach==6.1.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cmake==4.0.2
colorama==0.4.6
contourpy==1.3.2
ctranslate2 @ file:///home/tsuyoshi/tmp/CTranslate2/python/dist/ctranslate2-4.7.1-cp310-cp310-linux_x86_64.whl#sha256=ac30da9d8006ceac2a710c0dd51a800356186bf202c474a51bffc9edc4862e2f
cycler==0.12.1
Cython==3.1.1
decorator==5.2.1
Distance==0.1.3
dnspython==2.7.0
email-validator==2.1.0
exceptiongroup==1.3.0
-e git+https://github.com/facebookresearch/fairseq.git@ecbf110e1eb43861214b05fa001eff584954f65a#egg=fairseq
faiss-cpu==1.7.3
fastapi==0.115.12
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock==3.13.1
Flask==2.3.3
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.2.1
fonttools==4.58.1
frozenlist==1.6.0
fsspec==2024.6.1
future==1.0.0
g2p-en==2.1.0
gradio==3.14.0
gradio_client==1.10.2
greenlet==3.2.3
groovy==0.1.2
grpcio==1.72.1
h11==0.16.0
hf-xet==1.1.2
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.3
hydra-core==1.0.7
idna==3.10
inflect==7.5.0
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.4
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
linkify-it-py==2.0.3
lit==18.1.8
llvmlite==0.43.0
lxml==5.4.0
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.4.4
narwhals==1.41.0
networkx==3.3
nltk==3.9.1
numba==0.60.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
omegaconf==2.0.6
orjson==3.10.18
packaging==25.0
pandas==2.2.3
Pillow==10.0.1
platformdirs==4.3.8
pooch==1.8.2
portalocker==3.1.1
praat-parselmouth==0.4.2
propcache==0.3.1
protobuf==6.31.1
pybind11==2.11.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.1
pyotp==2.9.0
pyparsing==3.2.3
pypinyin==0.54.0
pypng==0.20220715.0
pyrubberband==0.4.0
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
pyworld==0.3.2
PyYAML==6.0.2
qrcode==7.4.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
resampy==0.4.3
rich==14.0.0
rpds-py==0.25.1
ruff==0.11.12
sacrebleu==2.5.1
safehttpx==0.1.6
scikit-learn==1.6.1
scipy==1.10.1
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.7
SQLAlchemy==2.0.41
starlette==0.46.2
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
TextGrid==1.6.1
threadpoolctl==3.6.0
tomli==2.2.1
tomlkit==0.13.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
triton==3.1.0
typeguard==4.4.2
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==2.4.0
uvicorn==0.34.3
webencodings==0.5.1
websockets==15.0.1
Werkzeug==2.3.7
WTForms==3.1.0
yarl==1.20.0
